.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px;
}

.titulo-cadastro {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    line-height: 6.1vw;
    color: var(--color-black);
    margin: 10px;
}

.container-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;
}

.form-inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.group-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-form {
    width: 80%;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: transparent;
    border-bottom: var(--color-black) 1px solid;
    font-family: 'Inter';
    font-size: 16px;
}

button.btn-padrao {
    position: absolute;
    bottom: 20px;
    right: 25px;
}

.erro-input {
    font-family: 'Inter';
    font-size: 1.3vw;
    color: red;
    margin-top: 5px;
}

.input-form.invalid {
    border-bottom-color: red;
}

.input-form.invalid::placeholder {
    color: red;
}

.disabled{
    opacity: 0.6;
}