<html>
<head>
    <title>Cadastro de produtos</title>
</head>

<body class="background">
    <navbar></navbar>
    <sidebar></sidebar>
    <box>
        <div class="container-central">
            <div class="container-header">
                <div class="titulo-cadastro">
                    Cadastro de Produto
                </div>
            </div>
    
            <div class="container-body">
                <form class="form-inputs" [formGroup]="produtoForm">
                    <div class="group-input">
                        <input class="input-form" type="text" name="nome" id="nome" formControlName="NomeProduto"
                        [placeholder]="produtoForm.get('NomeProduto')?.invalid && produtoForm.get('NomeProduto')?.touched ? 'O Nome do Produto é Obrigatório!' : 'Nome do Produto'"
                        required
                        [class.invalid]="produtoForm.get('NomeProduto')?.invalid && produtoForm.get('NomeProduto')?.touched" />
                    </div>
                    <div class="group-input">
                        <select class="input-form" name="categoria" id="categoria" formControlName="Categoria" (change)="exibirCamposAdicionais(dadosForm['Categoria'].value)">
                            <option value="">Selecione a Categoria</option>
                            <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
                        </select>
                    </div>
                    <div class="group-input">
                        <div *ngFor="let campo of camposAdicionais">
                            <input class="input-form" type="text" [name]="campo" [id]="campo" [formControlName]="campo" [placeholder]="campo" />
                        </div>
                    </div>
                    <div class="group-input">
                        <select class="input-form" name="unidades" id="unidades" formControlName="Unidade">
                            <option value="">Selecione a unidade</option>
                            <option *ngFor="let unidade of unidades" [value]="unidade">{{ unidade }}</option>
                        </select>
                    </div>
                    <div class="group-input">
                        <select class="input-form" name="fornecedores" id="fornecedores" formControlName="Fornecedor">
                            <option value="">Selecione o Fornecedor</option>
                            <option *ngFor="let fornecedor of fornecedores" [value]="fornecedor.razaoSocial">{{ fornecedor.razaoSocial }}</option>
                        </select>
                    </div>
                    <div class="group-input">
                        <textarea class="input-form" name="descricao" id="descricao" formControlName="Descricao" placeholder="Descrição"></textarea>
                    </div>
                </form>
                <button type="button" class="btn-padrao" (click)="CadastrarProduto()">Cadastrar</button>
            </div>
        </div>
    </box>
</body>
</html>