<html>

<head>
    <title>Ficha de Estoque</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
</head>

<body class="background">
    <navbar></navbar>
    <div class="container-box">
        <div class="container-central">
            <div class="container-header">
                <div class="titulo-kardex">
                    Ficha Estoque
                </div>
                <div class="buttons-container">
                    <button class="btn btn-print" (click)="printDataTable()">Imprimir</button>
                    <button class="btn btn-export" (click)="exportToExcel()">Exportar para Excel</button>
                </div>
            </div>

            <div class="container-body">
                <div class="search-container">
                    <input type="text" class="search-input" (input)="filterData($event)" placeholder="Pesquisar...">
                </div>
                <div class="table-container" id="table-container">
                    <table class="tabela-produtos">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Categoria</th>
                                <th>Classificação</th>
                                <th>Quantidade</th>
                                <th>Fornecedor</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of filteredProduto; even as isEven"
                                [ngClass]="{ 'tabela-produtos-row-even': isEven }">
                                <td>{{ item.nomeProduto }}</td>
                                <td>{{ item.categoria }}</td>
                                <td>{{ item.classificacao }}</td>
                                <td>{{ item.quantidade }}</td>
                                <td>{{ item.fornecedor }}</td>
                                <td>
                                    <button class="btn btn-view" (click)="openKardex(item.id)">Ver Kardex</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
