.background {
    background-color: #f0f0f0;
    height: 100vh;
    overflow-y: auto;
}

.container-box {
    margin-top: 60px;
    padding: 20px;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.titulo-estoque {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    line-height: 6.1vw;
    color: var(--color-black);
}
