.container-header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.container-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tabela-produtos{
    align-items: center;
    justify-content: center;
    width: 80%;
}

.instructions {
    background-color: transparent;
    color: var(--color-gray);
    padding: 10px; 
    max-width: 200px;
    font-size: 12px;
}

.instructions p {
    margin: 0 0 5px 0; 
}

.instructions ol {
    margin: 0;
    padding-left: 15px;
}