<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
    <div class="container-login">
        <div class="container-login-central">
            <div class="container-header">
                <div class="titulo-login">
                    Login
                </div>
            </div>

            <div class="container-form">
                <form class="form-inputs" [formGroup]="loginForm" (ngSubmit)="loginUser()">
                    <div class="group-input">
                        <div class="text-info">
                            <i class="bi bi-envelope envelope-icon"></i>
                            <input class="input-form" type="email" name="email" id="email"
                            [placeholder]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched ? 'Campo Obrigatório!' : 'Seu endereço de e-mail'"
                            formControlName="email" required [class.invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"></div>
                        <div class="text-info">
                            <i class="bi bi-key lock-icon"></i>
                            <input class="input-form" type="password" name="senha" id="senha"
                            [placeholder]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched ? 'Campo Obrigatório!' : 'Digite a sua senha'"
                            formControlName="password" required [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"></div>
                    </div>
                    
                    <div class="group-input">
                        <div class="remember-forgot">
                            <div class="remember-me">
                                <input type="checkbox" id="remember-me">
                                <label for="remember-me">Lembrar-me</label>
                            </div>
                            <div class="forgot-password">
                                <a href="#" class="link-forgot">Esqueceu a senha?</a>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn-login" [ngClass]="{'disabled' : loginForm.invalid}" [disabled]="loginForm.invalid">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
