.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;

    h5 {
        margin-bottom: 0;
    }

    .btn-close {
        padding: 0;
        font-size: 1.5rem;
        color: #000;
        opacity: 0.5;
        border-color: transparent;
        background-color: transparent;

        &:hover {
            opacity: 1;
        }
    }
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    border-top: 1px solid #dee2e6;

    .btn {
        margin-left: 5px;
    }
}