<html>
    <head>
        <title>Ficha de Estoque</title>
        <link rel="stylesheet" type="text/css"
            href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
        <!-- <link rel="stylesheet" type="text/css"
            href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    </head>
    <body class="background">
        <navbar></navbar>
        <div class="container-box">
            <div class="container-central">
                <div class="container-header">
                    <div class="titulo-kardex">
                        Kardex
                    </div>
                </div>
                <div class="container-body table-responsive">
                    <table id="datatableKardex" class="table table-striped display">
                        <thead> 
                            <tr>
                                <th>Data</th>
                                <th>Produto</th>
                                <th>Tipo Alteracao</th>
                                <th>Quantidade Entrada</th>
                                <th>Valor Unitário Entrada</th>
                                <th>Valor Total Entrada</th>
                                <th>Quantidade Saída</th>
                                <th>Valor Unitário Saída</th>
                                <th>Valor Total Saída</th>
                                <th>Quantidade Saldo</th>
                                <th>Valor Unitário Saldo</th>
                                <th>Valor Total Saldo</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>