.background {
    background-color: #f0f0f0;
    height: 100vh;
    overflow-y: auto;
}

.container-box {
    margin-top: 60px;
    padding: 20px;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.titulo-kardex {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    line-height: 6.1vw;
    color: var(--color-black);
}

#datatableWrapper {
    overflow-x: auto;
    max-width: 100%;
}

.table-responsive {
    max-height: 400px;
    overflow-y: scroll;
}

#datatableKardex {
    font-size: 14px;
}