.card-container {
    display: flex;
    align-items: center;

    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: transparent;

    width: 90%;
    height: 12vh;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    cursor: pointer;
}

.card-container:hover {
    color: var(--color-orange);
    border-color: var(--color-orange);
}

.caixa-card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.caixa-card-texto {
    font-size: 25px;
    margin-left: 40px; 
}

.icone-menu {
    margin-right: 8px;
}
